.deleteButton {
    color: #222;
    display: none;
    margin-right: 10px;
}

.list-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 34px;
    list-style-type: none;
}

.list-item:hover .deleteButton {
    cursor: pointer;
    display: block;
}

.list-item li {
    color: #222;
    font-size: 14px;
    padding-left: 12px;
}

.add-item-button{
    color: #333;
    display: block;
    font-size: 1.5em;
    text-align: center;
}